---
import { BASE } from '@utils/const';
---

<div class='footer'>
  <div class='content'>
    <h4>Welbin: es bienestar para cada persona en el entorno escolar.</h4>
    <div class='info'>
      <div class='detail'>
        <span>Email: info@welbin.org</span>
        <span>Telefono: 3148454332</span>
      </div>
      <img src={BASE + '/logo-text-blue.webp'} alt='' />
    </div>
    <span
      >Términos y condiciones | Política de privacidad | Política de Cookies</span
    >
  </div>
</div>

<style>
  .footer {
    background-color: #303030;
    width: 100%;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 24px;
    color: white;
    gap: 32px;

    span {
      text-align: center;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;

    img {
      height: 80px;
    }

    .detail {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
</style>
