---
import { BASE } from '@utils/const';
---

<div class='section-b'>
  <div class='background'></div>
  <div class='content'>
    <div class='text'>
      <h2>Sistema Welbin: Tecnología para potenciar el bienestar escolar.</h2>
      <p>Automatiza procesos, identifica riesgos y actúa estratégicamente.</p>
      <span>¿Qué puedes lograr con el Sistema Welbin?</span>
      <div class='steps'>
        <div class='step'>
          <span>1</span>
          <div>
            <h6>Ahorrar tiempo y adelantarte a los riesgos</h6>
            <span>Identifica rápidamente los casos prioritarios.</span>
          </div>
        </div>
        <div class='step'>
          <span>2</span>
          <div>
            <h6>Mejorar la efectividad de tus intervenciones</h6>
            <span
              >Identifica las intervenciones de prevención más efectivas.</span
            >
          </div>
        </div>
        <div class='step'>
          <span>3</span>
          <div>
            <h6>Mostrar resultados tangibles</h6>
            <span>Genera reportes automáticos y muestra el impacto.</span>
          </div>
        </div>
      </div>
      <button
        ><span>Prueba el Sistema Welbin ahora</span>
        <svg
          data-node-id='LAHoy_Np1ngPrRzncgx2y'
          data-id='0.5.0.0.1.1'
          class='ftaNwg'
          fill='none'
          width='20'
          xmlns='http://www.w3.org/2000/svg'
          height='20'
          stroke='currentColor'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke-linecap='round'
          stroke-linejoin='round'
          ><path
            data-node-id='Y4jfhzSJqgkIKmkZFi4Gr'
            data-id='0.5.0.0.1.1.0'
            class='ftaNwg'
            d='M17 7l-10 10'></path><path
            data-node-id='fnAzFJptbxbpunz1PA9FG'
            data-id='0.5.0.0.1.1.1'
            class='ftaNwg'
            d='M8 7l9 0l0 9'></path></svg
        >
      </button>
    </div>
    <div class='images'>
      <img src={BASE + '/screenshot-1.webp'} alt='' />
      <img src={BASE + '/screenshot-2.webp'} alt='' />
    </div>
  </div>
</div>

<style>
  .section-b {
    position: relative;
    width: 100%;
    align-items: center;
    background-color: #fff;
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 24px;
    gap: 32px;
    z-index: 2;

    .text {
      display: flex;
      flex-direction: column;
      gap: 16px;
      flex: 1;

      h2 {
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        color: #123662;
      }
      p {
        font-size: 18px;
        line-height: 27px;
        font-weight: 500;
        color: #4d738f;
      }
      & > span {
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
        color: #3b75a4;
      }
    }

    .steps {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .step {
        display: flex;
        gap: 12px;
        flex: 1;
        align-items: start;
        padding: 24px;
        border-radius: 20px;
        flex-direction: row;
        justify-content: start;
        background-color: #ffffff40;

        & > span {
          color: #12366252;
          font-size: 24px;
          font-weight: bold;
          line-height: 24px;
        }

        & > div {
          & > h6 {
            color: #123662;
            font-size: 16px;
            font-weight: bold;
            line-height: 24px;
          }
          & > span {
            color: #4d738f;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
          }
        }
      }
    }

    .images {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 24px;
      img {
        width: 100%;
        position: relative;
        box-shadow: 1px 4px 20px 0px #0000001f;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }

  .background {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    opacity: 0.3;
    z-index: 1;
    position: absolute;
    justify-content: start;
    background-image: url(https://images.pexels.com/photos/4144038/pexels-photo-4144038.jpeg);
    height: 100%;
  }

  .text {
    button {
      align-self: center;
      display: flex;
      padding: 12px 24px;
      background-color: #3b75a4;
      border-radius: 10px;
      color: #fff;

      span {
        margin-right: 8px;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }

  @screen sm {
    .content {
      flex-wrap: nowrap;
      flex-direction: row-reverse;
      align-items: center;
    }

    .images {
      img {
        top: -64px;
      }
    }
  }
</style>
