---

---

<div class='section-call-action'>
  <div class='content'>
    <h2>Toma el control de los resultados en bienestar escolar.</h2>
    <button
      ><span>Solicita una reunión</span>
      <svg
        data-node-id='LAHoy_Np1ngPrRzncgx2y'
        data-id='0.5.0.0.1.1'
        class='ftaNwg'
        fill='none'
        width='20'
        xmlns='http://www.w3.org/2000/svg'
        height='20'
        stroke='currentColor'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke-linecap='round'
        stroke-linejoin='round'
        ><path
          data-node-id='Y4jfhzSJqgkIKmkZFi4Gr'
          data-id='0.5.0.0.1.1.0'
          class='ftaNwg'
          d='M17 7l-10 10'></path><path
          data-node-id='fnAzFJptbxbpunz1PA9FG'
          data-id='0.5.0.0.1.1.1'
          class='ftaNwg'
          d='M8 7l9 0l0 9'></path></svg
      >
    </button>
  </div>
</div>

<style>
  .section-call-action {
    position: relative;
    width: 100%;
    align-items: center;
    background-color: #75b3b0;
  }

  .content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 24px;
    color: white;
    gap: 16px;

    h2 {
      font-size: 24px;
      font-weight: bold;
      line-height: 36px;
      text-align: center;
    }

    button {
      align-self: center;
      display: flex;
      padding: 12px 24px;
      background-color: #3b75a4;
      border-radius: 10px;

      span {
        margin-right: 8px;
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
</style>
