---

---

<div class='section-a'>
  <div class='content'>
    <h2>
      Trabajamos con colegios que quieren potenciar su impacto en el bienestar
      escolar
    </h2>
    <span>Análisis propios en más de +6000 colegios nos muestran que: </span>
    <div class='cards'>
      <div class='card'>
        <svg
          data-node-id='mi0wYnz6r-QzumeW-i0wb'
          data-id='0.1.0.0.2.0.0'
          class='ftaNwg'
          fill='none'
          width='44'
          xmlns='http://www.w3.org/2000/svg'
          height='44'
          stroke='white'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke-linecap='round'
          stroke-linejoin='round'
          ><path
            data-node-id='r4GEGfvSk3dlo71u09UCP'
            data-id='0.1.0.0.2.0.0.0'
            class='ftaNwg'
            d='M22 9l-10 -4l-10 4l10 4l10 -4v6'></path><path
            data-node-id='A4QNWU7oOsUcnkSSXc0eM'
            data-id='0.1.0.0.2.0.0.1'
            class='ftaNwg'
            d='M6 10.6v5.4a6 3 0 0 0 12 0v-5.4'></path></svg
        >
        <span
          >Los orientadores escolares pasan más tiempo en modo reactivo que
          preventivo.</span
        >
      </div>
      <div class='card'>
        <svg
          data-node-id='etczpBqqp5jeYpODTJ2l3'
          data-id='0.1.0.0.2.1.0'
          class='ftaNwg'
          fill='none'
          width='44'
          xmlns='http://www.w3.org/2000/svg'
          height='44'
          stroke='white'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke-linecap='round'
          stroke-linejoin='round'
          ><path
            data-node-id='S6EImlJSvLlcNtHMC5qcl'
            data-id='0.1.0.0.2.1.0.0'
            class='ftaNwg'
            d='M3 13a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z'
          ></path><path
            data-node-id='EvpOuQpDyDoqvGPx4lBkL'
            data-id='0.1.0.0.2.1.0.1'
            class='ftaNwg'
            d='M15 9a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z'
          ></path><path
            data-node-id='FF8J6gyJLV3xIG2IqLdvw'
            data-id='0.1.0.0.2.1.0.2'
            class='ftaNwg'
            d='M9 5a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z'
          ></path><path
            data-node-id='D5hWn0_zni_MWa72rUe4c'
            data-id='0.1.0.0.2.1.0.3'
            class='ftaNwg'
            d='M4 20h14'></path></svg
        >
        <span
          >No hay sistemas que permitan evaluar y mejorar la eficiencia e
          impacto de las decisiones.</span
        >
      </div>
    </div>
  </div>
</div>

<style>
  .section-a {
    position: relative;
    width: 100%;
    align-items: center;
    background-color: #75b3b0;
  }

  .content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 24px 100px 24px;
    gap: 16px;
    color: white;

    h2 {
      text-align: center;
      font-size: 24px;
      line-height: 36px;
      font-weight: bold;
    }

    span {
      text-align: center;
      font-size: 18px;
      line-height: 27px;
      font-weight: normal;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 300px;
    flex: 1;
    align-items: center;
    padding-top: 24px;
    padding-left: 24px;
    border-radius: 20px;
    padding-right: 24px;
    padding-bottom: 24px;
    justify-content: start;
    background-color: #ffffff40;
    color: white;

    span {
      font-size: 1rem;
      line-height: 24px;
      font-weight: bold;
      text-align: center;
    }
  }
</style>
