---

---

<div class='section-header'>
  <div class='background'></div>
  <div class='content'>
    <div class='header'>
      <div class='logo'>
        <img alt='' src='/logo-text.webp' />
      </div>
      <div class='menu'>
        <a class='item' href='/'><span>Inicio</span></a>
        <a class='item' href='/'><span>Cómo Funciona</span></a>
        <a class='item' href='/'><span>Impacto</span></a>
      </div>
    </div>
    <div class='section'>
      <div class='info'>
        <h2>
          Potencia, de manera medible, los indicadores de bienestar escolar
        </h2>
        <span>
          Con el Sistema Welbin, identifica necesidades, detecta riesgos a
          tiempo y toma decisiones estratégicas para transformar y salvar vidas
          de manera eficiente.
        </span>
        <button>Solicita una demo</button>
      </div>
      <div class='imagen'>
        <img src='/header.jpeg' alt='' />
      </div>
    </div>
  </div>
</div>

<style>
  .section-header {
    position: relative;
    width: 100%;
    align-items: center;
    background-color: #245478;
  }

  .content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    z-index: 2;
  }

  .background {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    opacity: 0.3;
    z-index: 1;
    position: absolute;
    justify-content: start;
    background-image: url(https://images.pexels.com/photos/4144038/pexels-photo-4144038.jpeg);
    height: 100%;
  }

  .header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 8px;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    color: #71a2c6;
  }

  .item {
    font-weight: bold;
  }

  .logo {
    img {
      height: 58px;
      width: auto;
    }
  }

  .section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 30px;
      color: white;
      font-weight: bold;
      line-height: 45px;
      overflow-wrap: break-word;
    }
    span {
      font-size: 18px;
      color: #90b1ca;
      font-weight: 500;
      line-height: 27px;
    }
    button {
      color: #ffffff;
      width: fit-content;
      cursor: pointer;
      font-size: 20px;
      transition: all 300ms ease-in-out 0ms normal;
      font-weight: 500;
      padding-top: 12px;
      padding-left: 24px;
      border-radius: 10px;
      padding-right: 24px;
      flex-direction: row;
      padding-bottom: 12px;
      background-color: #d86465;
    }
  }

  .imagen {
    flex: 1;
    img {
      width: 100%;
      min-width: 300px;
      object-fit: cover;
      border-radius: 20px;
    }
  }

  @screen sm {
    .header {
      justify-content: space-between;
    }

    .menu {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      padding-left: 20px;
      color: #71a2c6;
    }

    .info {
      align-items: start;
      text-align: start;
    }
  }
</style>
