---

---

<div class='section-c'>
  <div class='content'>
    <h2>Salvando y transformando vidas en el entorno escolar</h2>
    <div class='cards'>
      <div class='card'>
        <svg
          data-node-id='3Q87RQeCA1nQSb5l5IW4j'
          data-id='0.3.0.0.1.0.0'
          class='ftaNwg'
          fill='none'
          width='44'
          xmlns='http://www.w3.org/2000/svg'
          height='44'
          stroke='white'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke-linecap='round'
          stroke-linejoin='round'
          ><path
            data-node-id='Uyf3zjEvz-i308Bt8bK4R'
            data-id='0.3.0.0.1.0.0.0'
            class='ftaNwg'
            d='M22 9l-10 -4l-10 4l10 4l10 -4v6'></path><path
            data-node-id='nzXea3iJ5CigJ-rcFUGiy'
            data-id='0.3.0.0.1.0.0.1'
            class='ftaNwg'
            d='M6 10.6v5.4a6 3 0 0 0 12 0v-5.4'></path></svg
        >
        <span>+ 7.000 diagnósticos de bienestar escolar</span>
      </div>
      <div class='card'>
        <svg
          data-node-id='rIlTB0lN1sNZlMuBFQ6br'
          data-id='0.3.0.0.1.1.0'
          class='ftaNwg'
          fill='none'
          width='44'
          xmlns='http://www.w3.org/2000/svg'
          height='44'
          stroke='white'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke-linecap='round'
          stroke-linejoin='round'
          ><path
            data-node-id='NmFxTk9WLWfXvRwzb7N5H'
            data-id='0.3.0.0.1.1.0.0'
            class='ftaNwg'
            d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0'></path><path
            data-node-id='5U6btwZjIjygK3Un1cHKs'
            data-id='0.3.0.0.1.1.0.1'
            class='ftaNwg'
            d='M9 10l.01 0'></path><path
            data-node-id='gLMTjAM-OQ9edp0rn2C3w'
            data-id='0.3.0.0.1.1.0.2'
            class='ftaNwg'
            d='M15 10l.01 0'></path><path
            data-node-id='J16qXT647-60BVmTfCajJ'
            data-id='0.3.0.0.1.1.0.3'
            class='ftaNwg'
            d='M9.5 15a3.5 3.5 0 0 0 5 0'></path><path
            data-node-id='z7p4m6L9ORZERlg3NGKgn'
            data-id='0.3.0.0.1.1.0.4'
            class='ftaNwg'
            d='M12 3a2 2 0 0 0 0 4'></path></svg
        >
        <span>+5.000 estudiantes beneficiados</span>
      </div>
      <div class='card'>
        <svg
          data-node-id='4XLCjfCIHG4JcmLnxl59J'
          data-id='0.3.0.0.1.2.0'
          class='ftaNwg'
          fill='none'
          width='44'
          xmlns='http://www.w3.org/2000/svg'
          height='44'
          stroke='white'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke-linecap='round'
          stroke-linejoin='round'
          ><path
            data-node-id='KSgh-X4UF_Njg8Ud5D5BN'
            data-id='0.3.0.0.1.2.0.0'
            class='ftaNwg'
            d='M3 13a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z'
          ></path><path
            data-node-id='iZ0ZgrqumDk8YXgU90_xG'
            data-id='0.3.0.0.1.2.0.1'
            class='ftaNwg'
            d='M15 9a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z'
          ></path><path
            data-node-id='wCt2vsZGVwNv5heI5yiDP'
            data-id='0.3.0.0.1.2.0.2'
            class='ftaNwg'
            d='M9 5a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z'
          ></path><path
            data-node-id='cf6N5M6AlLlXBPaFtDU5e'
            data-id='0.3.0.0.1.2.0.3'
            class='ftaNwg'
            d='M4 20h14'></path></svg
        >
        <span>+20% de mejoras en indicadores de bienestar</span>
      </div>
    </div>
  </div>
</div>

<style>
  .section-c {
    position: relative;
    width: 100%;
    align-items: center;
    background-color: #e08081;
  }

  .content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 56px 24px;
    gap: 16px;
    color: white;

    h2 {
      text-align: center;
      font-size: 24px;
      line-height: 36px;
      font-weight: bold;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 24px;
    }

    .card {
      flex: 1;
      gap: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 24px;
      border-radius: 20px;
      justify-content: center;
      background-color: #ffffff40;

      span {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        font-weight: bold;
      }
    }
  }
</style>
