---
import { BASE } from '@utils/const';
---

<div class='section-clients'>
  <div class='content'>
    <h2>Quienes creen en el sistema Welbin</h2>
    <div class='clientes'>
      <img src={BASE + '/c1.avif'} alt='' />
      <img src={BASE + '/c2.webp'} alt='' />
      <img src={BASE + '/c3.webp'} alt='' />
      <img src={BASE + '/c4.webp'} alt='' />
      <img src={BASE + '/c5.webp'} alt='' />
      <img src={BASE + '/c6.webp'} alt='' />
      <img src={BASE + '/c7.webp'} alt='' />
      <img src={BASE + '/c8.webp'} alt='' />
      <img src={BASE + '/c9.webp'} alt='' />
    </div>
  </div>
</div>

<style>
  .section-clients {
    position: relative;
    width: 100%;
    align-items: center;
    background-color: white;
  }
  .content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 24px;
    gap: 16px;

    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      color: #3b75a4;
    }
  }

  .clientes {
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    img {
      height: 100px;
    }
  }
</style>
